/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* regole header */
header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

header ul li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: #000;
}

header img{
    max-width: 100%;
}

h3{
    font-size: 40px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 17px;
}
hr{
    display: block;
    margin:40px 0;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 500;
    font-size: 14x;
}

.nav-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 18px;
}


.nav .space{
    padding: 0 28px;
}

#nav-btn a{
    margin: 0 5px;
}

.btn{
    padding: 4px;
}


.button-blue-1{
    background-color: #0606f8;
    border: 1px solid #0404fa;
    color: white;
    padding: 5px 10px;
}

.button-blue-2{
    background-color: #0909fa;
    border: 1px solid #0909f7;
    color: white;
    padding: 5px 10px;
}
.jumbotron-container div{
    padding: 20px 0px;
}


.jumbotron-header{
    margin-top: 58px;
    background-color: #a3bcd3;
    height: 590px;
}

.jumbotron-container{
    width: 68%;
    margin: 0 auto;
    padding: 50px 0;
}

.jumbotron-container h1{
    font-size: 65px;
    margin-bottom: 25px;
}

header .jum-content{
    display: flex;
    justify-content: center;
}

.jumbotron-text{
    width: 500px;
}


.jumbotron-text a{
    display: inline-block;
    margin: 25px 0;
}

 #arrow{
    font-size: 50px;
    margin-top: 90px;
   
}

.ci1{
    margin-bottom: 10px;
}

.ci2{
    display: block;
    margin-bottom: 40px;
}

.ci3{
    margin-bottom: 25px ;
}

/*  regole main */

main{
    margin-top: 175px;
    margin-bottom: 175px;
    margin-right: 300px;
    margin-left: 300px;
}

main section, .last-section{
    margin: 100px 0;
}

.container{
    width: 60%;
    margin: 0 auto;
}

main section .invoicing{
    margin: 30px 0;
}

.invoicing div{
    display: inline-block;
}

.invoicing .blue-circle{
    color: blue;
}

.invoicing div:first-child{
    margin-right: 30px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    min-height: 1000px; 
    /* debug */
    /* background-color: cornflowerblue; */
    
}

.card{
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
}

.card, .team{
    border: 1px solid #585858;
}

.card span, .card a{
    display: inline-block;
}

.card-category, .bb1{
    border-bottom: 1px solid #636262;
    text-align: center;
    padding: 5px 0;
}

.card-office-info, .sub-section-1{
    padding: 20px 15px;
}

main .ci1{
    margin-bottom: 10px;
}

main .ci2{
    display: block;
    margin-bottom: 40px;
}

main .ci3{
    margin-bottom: 20px ;
}

.card-office-info .gray{
    color: #696868;
}

.card-office-info .special{
    display: block;
    width: 100%;
    text-align: center;
}


.card hr{
    display: block;
    width: 40px;
    margin: 40px 0;
}

.team{
    margin: 30px 0;
}

.team .ci1{
    display: block;
}

.sub-section-1{
    display: flex;
    justify-content: space-between;
}

.bigger-section{
    width: 70%;
}

.partner{
    display: flex;
    justify-content: space-between;
}

.partner img{
    float: left;
    padding: 45px;
    padding-right: 40px;
    width: 70%;
}

.smaller-section{
    width: 30%;
    margin-top: 40px;
}

.btn.white{
    background-color: #fff;
}

.black-border{
    border: 1px solid #000;
}

.tool{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.box{
    width: calc(100% / 3 - 30px);
    margin: 35px 15px 0 15px;
    margin-bottom: 10px;
}

.box img{
    width: 100%;
}

section .clients, .free-trial h3{
    width: 40%;
}

.flex-multi-square{
    display: flex;
}
.flex-multi-square .sponsor{
    width: calc(100% / 3);
}

.flex-multi-square .flex{
    display: flex;
    flex-wrap: wrap;
}

.sponsor .square{
    position: relative;
    width: 50%;
    height:calc(100vw / 6)
    
}

.sponsor img{
    width: 50%;
}

.sponsor.flex img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
}

.flex-multi-square hr{
    width: 100px;
}

.square-multi-middle span{
    display: block;
    margin: 40px 0 350px 0;
}
/* squares colors */
    .one{
        background-color: #64ce64;
        border: 10px solid #9cfc9c;
    }

    .two{
        background-color: #a02828;
    }

    .three{
        background-color: #2478c2;
    }

    .four{
        background-color:  #f80303;
    }
    .six{
        background-color: #73a8d6;
    }

    .square-multi-middle{
        background-color: #e7e5e5;
        padding: 0px;
        height: calc(100vw / 3);
        overflow-y: auto;
    }

    .seven{
        background-color: #010136;
    }

    .eight{
        background-color: #f7f703;
    }

    .flex-square-dropbox{
    background-color: #73a8d6;
   }

.flex-square-dropbox h3{
    color:#862e2e;
}

.free-trial{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

.faq{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    border-bottom: 1px solid #000;
}

.faq.btop{
    border-top: 1px solid #000;
}

.faq span{
    display: block; 
}

.faq .fa-angle-down{
    padding-right: 30px;
}

/* regole footer */
footer{
    background-color: #000;
    color: #ffff;
    height: 400px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    
}

.footer-column ul{
    margin: 30px 0 60px 0;
}

.footer- li{
    font-size: 12px;
    padding: 5px 0;
}

#language{
    border-top: 1px solid #ffff;
    padding: 30px 0;
}





