*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    font-weight: 800;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
} 

.float-right{
    float: right;
}

.relative{
    position: relative;
}

h2{
    font-size: 2.7rem;
}

/* HEADER */
header{
    line-height: 80px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.logo{
    line-height: 75px;
}

.logo img{
    vertical-align: middle;
    margin-left: 1.5rem;
}

.nav li{
    display: inline-block;
} 

/* PARTI IN HOVER */
.nav li:hover{
    border-bottom: 1px solid black;
}

.sub-menu{
    width: 10rem;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 3;
}

.sub-menu p{
    font-size: 15px;
}

#supporto-hover:hover .sub-menu{
    display: block;
}

a{
    text-decoration: none;
}

.nav a{
    color: black;
    margin: 0 1rem;
}

.nav .btn-blu{
    padding: 5px 20px;
    color: white;
}

/* JUMBOTRON */
#jumbotron{
    background-color: rgb(180, 208, 231);
}

.btn-blu{
    border: none;
    margin: 0;
    padding: 5px 50px;
    background-color: rgb(0, 97, 255);
    color: white;
}

.container-big{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.jumbo-title{
    padding: 12rem 4rem 4rem;
}
.jumbo-title *{
    margin-bottom: 1.5rem; 
}

.jumbo-title h1{
    font-size: 4rem;   
    
}

.jumbo-subtitle p:nth-child(4){
    margin: 0;
}

.jumbo-subtitle p i{
    font-size: 4rem;
}

.jumbo-subtitle{
    width: 35%;
}

.jumbo-img{
    position: absolute;
    top: 45%;
    left: 45%; 
} 

.jumbo-img img{
    width: 80%
}

/* Main */
/* BUISNESS SECTION */

#buisness-plane{
    margin-top: 15rem;
}

.buy-plane a {
    color: rgb(0, 97, 255);
}

.input-fatturazione{
    margin: 3rem 0 2rem;
}

.input-fatturazione span{
    margin: 0 1rem 0 0;
}

.professional p:nth-of-type(2n){
    color: lightgrey;
}

.buy-plane span{
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgrey;
}

.btn-blu-container{
    text-align: center;
}

.border,.enterprice{
    border: 1px solid lightgrey;
    padding: 10px 25px;
}

.piano{
    width: calc((100% / 3) - 40px);
}

.funzioni-piano li:nth-child(1n){
    list-style-image: url(../img/user-regular.svg);
}

.funzioni-piano li:nth-child(2n){
    list-style-image: url(../img/folder-regular.svg);
}

.funzioni-piano li:nth-child(3n){
    list-style-image: url(../img/pencil-alt-solid.svg);
}

.piano div{
    margin-bottom: 2rem;
}

.enterprice{
    width: 100%;
}

.enterprice .clearfix{
    line-height: 50px;
}

.middle{
    margin: 0 60px 3rem;
}

.piano ul,.funzioni-piano ul{
    padding: 20px;
}

.punti-piano ul{
    list-style-image: url(../img/check-solid.svg);  
}

.punti-piano li::before{
    color: blue;
}

li::marker{
    font-size: 30px;
}

.piano-team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.punti-piano{
    margin-top: 4rem;
}

/* PARTNER SECTION */

#partner button{
    padding: 5px 10px;
    background-color: white;
}

.container{
    width: 60%;
    max-width: 1180px;
    margin: 8rem auto;
}

.partner-text *{
    padding: 1rem 0;
}

.partner-img{
    width: 60%;
}

.partner-img img{
    width: 90%;
}

.partner-text{
    width: 40%;
}

/* SEZIONE TRE OPERATION */
.operation img{
    width: 100%;
}

.op-container > div{
    display: inline-block;
} 

/* SEZIONE QUATTRO TEAM */

.team-text{
    width: 50%;
}

.team-text a{
    color: blue;
    margin: 0;
    text-decoration: underline;
}

/* SEZIONE CINQUE DESIGNIT */

#designit{
    height: 400px;
}

.designit-container{
    width: calc(100% - 60vw);
    height: 100%;
    padding: 2rem;
    background-color: rgb(228, 228, 228);
    overflow-y: auto;
}

.designit-container div:nth-child(2) p{
    margin: 5% 0;
}

.designit-container img{
    width: 25%;
    height: 50%;
}

.designit-img-container{
    width: 30vw;
    height: 100%;
}

.img-small-container{
    width: 50%;
    height: 50%;
}
.img-small-container img{
    height: 50%;
    width: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(100%);
}
/* BACKGROUND-COLOR PRIMO BLOCCO LOGHI */
#first-img-container .img-small-container:first-of-type{
    background-color: rgb(162, 211, 155);
}

#first-img-container .img-small-container:nth-child(2){
    background-color: rgb(97, 8, 43);
}

#first-img-container .img-small-container:nth-child(3){
    background-color: rgb(0, 147, 206);
}

#first-img-container .img-small-container:nth-child(3) img{
    height: 15%;
    width: 65%;
}

#first-img-container .img-small-container:nth-child(4){
    background-color: rgb(255, 28, 28);
}

/* BACKGROUND-COLOR SECONDO BLOCCO LOGHI */

#second-img-container .img-small-container:first-of-type{
    background-color: rgb(213, 0, 31);
}

#second-img-container .img-small-container:nth-child(2){
    background-color: rgb(180, 208, 231);
}

#second-img-container .img-small-container:nth-child(3){
    background-color: rgb(13, 36, 129);
}


#second-img-container .img-small-container:nth-child(4){
    background-color: rgb(255, 216, 48);
}

/* SEZIONE SEI TRIAL */
#trial-section{
    background-color: rgb(180, 208, 231);
}

#trial-section .container{
    margin: 0 auto 8rem;
}

#trial-section h2{
    display: inline-block;
}

.container .central-wrapper{
    padding: 15% 0;
}

.central-wrapper h2{
    font-size: 2.5rem;
    width: 50%;
    color: rgb(97, 8, 43);
}

.central-wrapper a{
    background-color: white;
    color: black;
}
/* SEZIONE SETTE QUESTIONS */

.title-questions{
    padding: 3rem 0;
    border-bottom: 1px solid lightgrey;
}

.questions{
    padding: 2rem 0;
    border-bottom: 1px solid lightgrey;
}

.questions i{
    margin-right: 2rem;
}

.fa-chevron-up{
    display: none;
}

/* BONUS HOVER */

.questions a{
    color: black;
}

.answer{
    margin-top: 1.5rem;
    color: lightgrey;
    display: none;
    position: relative;
    z-index: 3;
}

.questions:hover .answer{
    display: block;
}

.questions:hover .fa-chevron-down{
    display: none;
}

.questions:hover .fa-chevron-up{
    display: block;
}

/* FOOTER */
footer{
    background-color: black;
}

footer .container-big{
    padding: 5rem 0 2rem;
}

.footer-list,.footer-list a{
    color: white;
}

.footer-list ul{
    list-style: none;
    list-style-position: inside;
    padding-bottom: 2rem;
}

.list{
    width: calc((100% / 5) - 6rem);
    margin-right: 6rem;
}

.list h4{
    margin-bottom: 10px; 
}

.list li{
    padding: 5px 0;
}

.list:first-child{
    border-bottom: 1px solid lightgrey;
}

.lenguage{
    margin-top: 2rem;
    color: white;
}

/* HOVER FOOTER BONUS */

.list li:hover a{
    text-decoration: underline;
}